<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="../css/home.css" rel="stylesheet">
    <title>Document</title>
</head>
<body>
    <main>
  <h1> Booth's  Binary Learning Tool</h1>

  <a href="./24">  How to do Unsigned Binary Multiplication </a> </br>
  <a href="./25">  How to do Booth's Law </a> </br>
  <a href="./26">  How to do  Binary Division</a>
        </main>
</body>
</html>