<html style="font-family: 'Montserrat'; color:  #99dcd1; background-color:  #111c2e">

  <head>

    <link href='https://fonts.googleapis.com/css?family=Montserrat' rel='stylesheet'>
    <link rel="stylesheet" href="./css/UBDstyle.css">

    <title>How To Do Unsigned Binary Division</title>

  </head>

  <body style="padding-left: 0px; margin: 0px;">

    <div class="navbar">
        <a href="./"> BACK TO MAIN PAGE </a>
        <a href="./26"> UNSIGNED BINARY DIVISION </a>
        <a href="./31"> HOW TO </a>
        <a href="./32"> HOW TO PT.2 </a>
        <a href="./33"> HOW TO PT.3 </a>
    </div>

    <br>
    <br>
    <br>
    <br>

    <h1 style="text-align:center; text-decoration-line: underline;">How To Do Unsigned Binary Division</h1>

    <div style="text-align: justify-all; padding-left:50px;padding-right:50px; font-size: 21px;">

      <p>Firstly, Let's show an example of Decimal division.</p>

      <p>Let’s divide <x style=" color: #eb4034">300</x> by <x style=" color: #3dfc03">25</x>.</p>
      <p>In this example, <x style=" color: #eb4034">300</x> is our <x style=" color: #eb4034">Dividend</x>, and <x style=" color: #3dfc03">25</x> is our <x style=" color: #3dfc03">Divisor</x>.</p>

      <img src="./images/dstep1.png">
      <br>
      <br>

      <p>First we go to 3. Can 25 go into 3? No it cannot.We put one on the Quotient, and carry over the 3 to the next digit which is 0.</p>

      <img src="./images/dstep2.png">
      <br>
      <br>

      <p>Next, we ask if 25 can go into 30? Yes it can, 1 time. We put the one up on the Quotient, and drop the remainder below.</p>

      <img src="./images/dstep3.png">
      <br>
      <br>

      <p>Next, it's time to bring down the next digit in the dividend which is our final zero, next to the 5.</p>

      <img src="./images/dstep4.png">
      <br>
      <br>

      <p>Next we ask how many times can 25 go into 50? 2 times with no remainder. We put 2 by 25 which is 50 below the 50, add 2 to the quotient and subtract the bottom.</p>

      <img src="./images/dstep5.png">
      <br>
      <br>

      <p>This completes our Decimal Long Division. We know this answer is correct because 25 multiplied by 12 is 300.</p>

      

    </div>

  </body>

</html>
