<html style="font-family: 'Montserrat'; color:  #99dcd1; background-color:  #111c2e">

  <head>

    <link href='https://fonts.googleapis.com/css?family=Montserrat' rel='stylesheet'>
    <link rel="stylesheet" href="./css/UBDstyle.css">

    <title>How To Do Unsigned Binary Division Pt.2</title>

  </head>

  <body style="padding-left: 0px; margin: 0px;">

    <div class="navbar">
        <a href="./"> BACK TO MAIN PAGE </a>
        <a href="./26"> UNSIGNED BINARY DIVISION </a>
        <a href="./31"> HOW TO </a>
        <a href="./32"> HOW TO PT.2 </a>
    </div>

    <br>
    <br>
    <br>
    <br>

    <h1 style="text-align:center; text-decoration-line: underline;">How To Do Unsigned Binary Division Pt.2</h1>

    <div style="text-align: justify-all; padding-left:50px;padding-right:50px; font-size: 21px;">

      <p>Now let's show you how to do this with Unsigned Binary numbers:</p>

      <p>Let's divide 11010 by 101.</p>


      

    </div>

  </body>

</html>
