<!DOCTYPE html>
<html style="font-family: 'Montserrat'; color:  #243e40; background-color: 	#111c2e">

	<head>

		<link href='https://fonts.googleapis.com/css?family=Montserrat' rel='stylesheet'>
		<link rel="stylesheet" href="UBDstyle.css">

		<title>About Unsigned Binary Division</title>

	</head>

	<body style="padding-left: 0px; margin: 0px;">

		<div class="navbar">
			<a href="home.ejs">BACK TO MAIN PAGE</a>
  			<a href="UBD.ejs">UNSIGNED BINARY DIVISION</a>
  			<a href="Howto.ejs">HOW TO</a>
  			<a href="Howto2.ejs">HOW TO PT.2 </a>
		</div>

		<br>
		<br>
		<br>
		<br>

		<h1 style="text-align:center; text-decoration-line: underline;">What Is Unsigned Binary Division</h1>

		<div style="text-align: justify-all; padding-left:50px;padding-right:50px; font-size: 21px;">
			<p>Unsigned Binary Division is Quite literally the Division of Binary Numbers without a sign(i.e Positive(+) or Negative(-)), That being 1s and 0s. The method we take to divide Binary Numbers similarly resembles normal Long Division of Decimal numbers we more commonly see or interact with.

			Before we show you how Unsigned Binary Division it is key we define certain terms in the division process:</p>

			<ul>
				<li><x style=" color: #eb4034">Dividend</x> - This is the number being divided.</li>
				<li><x style=" color: #3dfc03">Divisor</x> - This is the number the <x style=" color: #eb4034">Dividend</x> will be divided by.</li>
				<li><x style=" color: #035efc">Remainder</x> - This is what is left back from the <x style=" color: #eb4034">Dividend</x> being divided by the Divisor.</li>
				<li><x style=" color: #fcf803">Quotient</x> - This is the result of how many times the <x style=" color: #3dfc03">Divisor</x> can be pulled from the <x style=" color: #eb4034">Dividend</x>.</li>
			</ul>

			<p>Since electrical components operate in a binary mode by nature they can only indicate two states either on (1) or off (0), so by using the unsigned binary division system the computer only has to deal with two digits rather than a possible ten decimals when dividing. Additionally, anything that can be done with a base of 10 can be done in binary thus allowing the interior circuit design of the computer to be greatly simplified, leading to less expensive and more reliable circuits within computers.</p>



		</div>

	</body>

</html>
