<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <main>  
   <h2> What is an unsigned binary number is?</h2>
   <p> An unsigned number is a number without any sign negative or positive and only has the size or magnitude because of this unsigned numbers are automatically assumed to be positive similar to decimal number. An example is shown below. </p>
   <h5> Example 1</h5>
   <p> 00000101 =5 </br> or </br> 11111101= 43 </br> or </br> 10000101 = -5 very wrong 
   </p>

</main>
</body>
</html>