<!DOCTYPE html>
<html lang="en">
<html style="font-family: 'Montserrat'; color:  #243e40">

	<head>

		<link href='https://fonts.googleapis.com/css?family=Montserrat' rel='stylesheet'>
		<link rel="stylesheet" href="UBDstyle.css">

		<title>Unsigned Binary Division</title>

	</head>

	<body style="padding-left: 0px; margin: 0px;" class="main">

		<div class="navbar">
			<a href="home.ejs">BACK TO MAIN PAGE</a>
  			<a href="UBDmain.html">HOME</a>
  			<a href="UBD.html">UNSIGNED BINARY DIVISION</a>
  			<a href="Howto.html">HOW TO</a>
  			<a href="Howto2.html">HOW TO PT.2 </a>
		</div>

	</body>

</html>
