<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <main>  
   <h2> What is an unsigned binary number is?</h2>
   <p> An unsigned number is a number without any sign negative or positive and only has the size or magnitude because of this unsigned numbers are automatically assumed to be positive similar to decimal number.An unsigned binary number (binary integers are made up of 1s and 0s)  is similar and has no data or bits reserved for the sign.  An example is shown below. </p>
   <h5> Example 1</h5>
   <p> 00000101 =5 </br> or </br> 11111101= 43 </br> or </br> 10000101 = -5 very wrong 
   </p>
  <h2>  Unsigned Binary Multiplication</h2>
  <p> This is the multiplication of the aforementioned binary integers (bits). Unsigned binary multiplication is a lot like regular multiplication (it is performed 	exactly as with decimal numbers, except only two integers can be used (1s and 0s because it’s binary)).</p>

  <p> Things to Note when multiplying: </br>
    Multiplicand – this is the number being multiplied</br>
    Multiplier – this is the number doing the multiplying </br>
    Product – this is the result given.</br>
    </p>
    
</main>
</body>
</html>