<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="../css/home.css" rel="stylesheet">
</head>
<body>
    <a class ="normal " href="./"> home</a> <a class ="normal " href="./24"> Unsigned binary Page</a>
    <script type="text/javascript" src="https://form.jotform.com/jsform/203256448419863"></script>
</br>
    <a class ="normal " href="./"> home</a> <a class ="normal " href="./24"> Unsigned binary Page</a>
</body>
</html>

