h1{
    color: rgb(21, 22, 88);
}
body{
    background-color: rgb(228, 213, 213);
}


a.normal{
  color: white;
  background-color: teal;
  padding: 10px 20px;
}



@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');
* {
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
}

.button {
  position: relative;
  padding: 0;
  width: 180px;
  height: 180px;
  border: 4px solid #888;
  outline: none;
  background-color: #f4f5f6;
  border-radius: 40px;
  box-shadow:   -20px 0px 30px rgb(58, 55, 55), 6px 20px 25px rgba(0, 0, 0, 0.2);
  transition: 0.13s ease-in-out;
  cursor: pointer;
}
.button:active {
  box-shadow: none;
}
.button:active .button__content {
  box-shadow: none;
}
.button:active .button__content .button__text, .button:active .button__content .button__icon {
  transform: translate3d(0px, 0px, 0px);
}
.button__content {
  position: relative;
  display: grid;
  padding: 20px;
  width: 100%;
  height: 100%;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  box-shadow: inset 0px -8px 0px #ddd, 0px -8px 0px #f4f5f6;
  border-radius: 40px;
  transition: 0.13s ease-in-out;
  z-index: 1;
}
.button__icon {
  position: relative;
  display: flex;
  transform: translate3d(0px, -4px, 0px);
  grid-column: 4;
  align-self: start;
  justify-self: end;
  width: 32px;
  height: 32px;
  transition: 0.13s ease-in-out;
}
.button__icon svg {
  width: 32px;
  height: 32px;
  fill: rgb(150, 65, 65);
}
.button__text {
  position: relative;
  transform: translate3d(0px, -4px, 0px);
  margin: 0;
  align-self: end;
  grid-column: 1/5;
  grid-row: 2;
  text-align: center;
  font-size: 22px;
  background-color: rgb(0, 0, 0);
  color: transparent;
  text-shadow: 2px 2px 3px rgba(255, 255, 255, 0.5);
  -webkit-background-clip: text;
  -moz-background-clip: text;
  background-clip: text;
  transition: 0.13s ease-in-out;
}
.credits {
  margin-top: 24px;
}
.credits__reference {
  display: inline-block;
  border-bottom: 1px solid transparent;
  color: #09f;
  text-decoration: none;
  transition: ease-in 0.13s;
}
.credits__reference:hover {
  border-bottom-color: #09f;
}






  
  a.secondbutton{
    position: relative;
    padding: 20px 50px;
    display: block;
    text-decoration: none;
    text-transform: uppercase;
    width: 230px;
    overflow: hidden;
    border-radius: 40px;
    background-color: black;
  }
  
  a span {
    position: relative;
    color: #fff;
    fot-size: 20px;
    font-family: Arial;
    letter-spacing: 8px;
    z-index: 1;
  }
  
  a .liquid {
    position: absolute;
    top: -80px;
    left: 0;
    width: 230px;
    height: 200px;
    background: #4973ff;
    box-shadow: inset 0 0 50px rgba(0, 0, 0, .5);
    transition: 1.5s;
  }
  
  a .liquid::after,
  a .liquid::before {
    content: '';
    width: 200%;
    height: 200%;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%, -75%);
    background: #000;
  }
  
  a .liquid::before {
    
    border-radius: 45%;
    background: rgba(20, 20, 20, 1);
    animation: animate 5s linear infinite;
  }
  
  a .liquid::after {
    
    border-radius: 40%;
    background: rgba(20, 20, 20, 0.5);
    animation: animate 10s linear infinite;
  }
  
  a:hover .liquid{
    left: -120px;
    bottom:-120px;
    background-color: red;
  }
  
  @keyframes animate {
    0% {
      transform: translate(-50%, -75%) rotate(0deg);
    }
    100% {
      transform: translate(-100%, -75%) rotate(360deg);
    }
  }