body{
    background-color: rgb(228, 213, 213);
}
table{
    background-color: cadetblue;
    color: wheat;
}
button{
    background-color: teal;
}
a.normal{
    color: white;
    background-color: teal;
    padding: 10px 20px;
  }
  
  